.contacto-container {
    background-image: url('../../assets/img/fondo2.avif');
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border: 5px solid #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff1414;
    width: 100%;
    margin: 0;
    gap: 20px;
}
.contacto-title {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.contacto-text {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
    font-family: Arial, Helvetica, sans-serif;
}
