
.inicio-container {
    background-image: url('../../assets/img/fondo2.avif');
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(37, 33, 33);
    border: 5px solid #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff1414;
    width: 100%;
    margin: 0;
    gap: 20px;
}

.inicio-title {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.inicio-p {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.inicio-content {
    text-align: center;
}
.inicio-image {
    width: 300px;
    height: auto;
    border: 3px solid #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff1414;
    margin-top: 20px;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.inicio-image:hover {
    transform: scale(1.1);
    opacity: 0.9;
    box-shadow: 0 0 20px #ff0000, 0 0 30px #ff1414;
}

.inicio-image:active {
    transform: scale(0.95);
}
