.nav-bar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}
.link {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}
.link:hover {
  background-color: #ddd;
  color: black;
}
.nav-logo{
  height: 90px;
  width: auto;
  margin-right: 15px;
  border-radius: 100%;

  border-style: solid;
  border-width: 5px;
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff1414;
}
