
.item-card {
    width: 100%;
    height: auto;
     background-color: #000000;
    border-radius: 8px;
     border: 5px solid #ff0000;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff1414;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.item-image-container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 3px solid #ff0000;
    overflow: hidden;
    gap: 20px;
}
.item-image-container img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

.name-image {
    font-size: 30px;
    color: #ffffff;
    margin: 0;
   display: flex;
    justify-content: center;
}

.item-image-container p {
    font-size: 20px;
    color: #cccccc;
    margin: 0;
}

 .price {
    font-size: 24px;
    font-weight: bold;
    color: #27ae60;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.item-buttons-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
