* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f436;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
}
